<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plant App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Plant App</a>
    </div>
    <ul class="nav navbar-nav">
      {% if current_user.is_authenticated %}
      <li><a href="/">home</a></li>
      <li><a href="new">new</a></li>
      <li><a href="plants">plants</a></li>
      <li><a href="gallery">gallery</a></li>
      <li><a href="logout">logout</a></li>

      {% else %}
      <li><a href="gallery">gallery</a></li>
      <li><a href="register">register</a></li>
      <li><a href="login">login</a></li>

      {% endif %}
    </ul>
  </div>
</nav>

<div class="container">
    <div class="content">

      <!-- flash messages -->
      {% for error_message in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert alert-danger alert-dismissible">{{ error_message }}</div>
      {% endfor %}

      {% for success_message in get_flashed_messages(category_filter=["success"]) %}
        <div class="alert alert-success alert-dismissible">{{ success_message }}</div>
      {% endfor %}

      {% for info_message in get_flashed_messages(category_filter=["info"]) %}
        <div class="alert alert-info alert-dismissible">{{ info_message }}</div>
      {% endfor %}



{% block content %}
{% endblock %}

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
