{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<div class="container">
<h2>Add A New Plant</h2>

      <form action="{{ url_for('plants.add_plant') }}" method="post" enctype="multipart/form-data">
          {{ form.csrf_token }}
      <dl>
        {{ render_field(form.plant_name)}}
        <br>
        {{ render_field(form.plant_description)}}
        <br>
        {{ render_field(form.watering_frequency, placeholder = "every # days") }}
        <br>
        {{ render_field(form.plant_photo)}}
        <br>
      </dl>
          <button class="btn btn-sm btn-success" type="submit">Add Plant</button>
      </form>
    </div>

{% endblock %}
