<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plant App</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Plant App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">home</a></li>
      <li><a href="new">new</a></li>
      <li><a href="plants">plants</a></li>
    </ul>
  </div>
</nav>

  <body>

<div class="container">
  <h1>Plant App for Plant Lovers & CareTakers</h1>
  <h2> Welcome!</h2>
</div>
  </body>
</html>
