{% extends 'layout.html' %}

{%block content%}
<div class="container">

    <h2> Here Are Your Plants </h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Plant Name</th>
        <th>Plant Description</th>
        <th>Watering Frequency</th>
        <th>Photo</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for plant in plants %}
      <tr>
        <td>{{ plant.plant_name.title() }}</td>
        <td>{{ plant.plant_description.lower() }}</td>
        <td>every {{ plant.watering_frequency }} days</td>
        <td><img src= " {{ plant.image_url }}"  height=150 width=150></td>
        <td><a href="edit/{{plant.plant_id}}" class="btn btn-default pull-left">Edit</a> </td>
      </tr>
    {% endfor %}
    </tbody
  </table>
</div>
</body>

{% endblock %}
